{% extends 'til/base.html' %}
{% block content %}
<div class ="container">
<p>
<h3> <script> document.write(new Date().toLocaleDateString()); </script> TIL </h3>
</p>
<hr/>

<form method = "POST" class = "form-horizontal"> {% csrf_token %}
    <h3> 오늘 한 일 </h3>
    {{ til_formset.management_form }}
    <div class ="component">
        {% for form in til_formset %}
            {{ form.item }} <br/>
        {% endfor %}
    </div>
    <hr/>
    <h3> 느낀점 </h3>
     {{ review_formset.management_form }}
    <div class ="component">
        {% for form in review_formset %}
            {{ form.item }} <br/>
        {% endfor %}
    </div>
    <hr/>
    <h3> 내일 할 일 </h3>
    {{ plan_formset.management_form }}
    <div class ="component">
        {% for form in plan_formset%}
            {{ form.item }} <br/>
        {% endfor %}
    </div>
    <hr/>
      <input type = "submit" class="btn btn-primary" value ="저장하기"/>
      <input type="button" class="btn btn-default" onclick="history.back();" value="취소"/>
</form>
</div>
{% endblock %}