{% extends 'blog/base.html' %}
{% block content %}
<script type="text/javascript">

$(document).ready(function(){
    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input autocomplete="off"  id="field' + next + '" class= "name" name="field' + next + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });



});

</script>
<div class="container">
	<div class="row">
		<input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields">
                <label class="control-label" for="field1"><h3>오늘 할 일</h3></label>
            <div class="" id="profs">
                <form class="input-append">
                    <div id="field"><input autocomplete="off"  id="field1" name="prof1" class="item"  type="text"  data-items="8"/><button id="b1" class="btn add-more" type="button">+</button></div>
                </form>
            <br>
            </div>
        </div>
	</div>
</div>
<hr/>
<div class="container">
	<div class="row">
		<input type="hidden" name="count" value="1" />
        <div class="control-group" id="fields_tm">
                <label class="control-label" for="field1"><h3>내일 할 일</h3></label>
            <div class="" id="profs_tm">
                <form class="input-append">
                    <div id="field_tm"><input autocomplete="off"  id="field1_tm" name="prof1" class="item"  type="text"  data-items="8"/><button id="b1_tm" class="btn add-more" type="button">+</button></div>
                </form>
            <br>
            </div>
        </div>
	</div>
</div>

{% endblock %}