  {% extends 'blog/base.html' %}
  {% block content %}
    <nav>
  	  {% for post in posts %}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            function show_post_detail(pk) {
                alert(pk);
               $.ajax({
                    type: 'GET',
                    url: '/post/' + pk,
                    dataType : 'json',
                    success: function(response) {
                        text = response[0].fields.text
                        $('.contents').html(text);
                    }
               })
            }
        </script>
      	  <div class = "post">
              <div class = "date">
                 {{ post.created_date }}
              </div>
              <h1> <a href= "javascript:show_post_detail({{post.pk}});"> {{ post.title}} </a></h1>
              <!--<p> {{ post.text|linebreaksbr}} </p>-->
              <hr/>
          </div>
      {% endfor %}
    </nav>
      <section>
          <div class="contents">

          </div>
      </section>
  {% endblock %}